/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #101214;
    color: #7A7C80;
}

h2,
.white {
    color: #fff;
}

a {
    color: #7A7C80;
    text-decoration: none;
}

/* section 1 */
.section-1 {
    padding-top: 33vh;
    text-align: center;
}

.section-1 p {
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin: 0;
}

.section-1 h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-1 a {
    font-size: 1.5rem;
    padding: 10px;
}

/* section 2 */
.section-2 {
    padding-top: 5vh;
    width: 70%;
}

.section-2 h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-2 p {
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin: 0;
}

.section-2 a {
    display: block;
    padding: 5px;
    font-size: 1.2rem;
    padding-left: 0;
    width: 300px;
}

/* animations / utilities */
.section-2 a:hover {
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.section-1 a:hover {
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.white:hover {
    position: relative;
    padding-left: 10px;
}

/* media queres */
@media(max-width: 780px) {
    .grid-2 {
        grid-template-columns: 1fr;
    }
    .section-1 {
        padding: 0;
        padding-top: 5rem;
    }
    .section-2 {
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 2rem;
    }
}

.logo {
    display: none;
}

#blink {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 100px;
    margin-right: 10px; /* Adjusted from margin-left to margin-right */
    margin-bottom: 10px;
    animation-name: blink;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.availability {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: center; /* Align items horizontally */
    text-align: center;
    margin-top: 10px; /* Adjusted to provide some space between availability and section-1 */
}
